.content {
  padding-top: 20px;
  padding-left: 120px;
}

.btnBalance {
  width: 145px;
  height: 40px;
  background: #ffffff;
  border-radius: 48px;

  font-family: 'SF Pro Display', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 148%;
  display: flex;
  color: #899cb1;
  align-items: center;
}

.title {
  display: flex;
  justify-content: flex-end;
  gap: 48px;
  align-items: center;
  margin-bottom: 34px;
}

.balance {
  color: #122945;
  margin-right: 10px;
  white-space: nowrap;
}

.blockDays {
  display: flex;
}

.plus {
  fill: #005ff8;
  stroke: #005ff8;
}

.object > svg {
  color: red;
}

.days {
  color: #005ff8;
  font-family: 'SF Pro Display', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  width: 52px;
  margin-left: 7px;
  margin-top: 4px;
}

.balanceT {
  margin-left: -5px;
    margin-right: -3px;
}