.content {
  padding: 4%;
}

.btnBalance {
  width: 145px;
  height: 40px;
  background: #ffffff;
  border-radius: 48px;

  font-family: 'SF Pro Display', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 148%;
  display: flex;
  color: #899cb1;
  align-items: center;

  &:hover,
  &:focus {
    border-color: #ffffff;
    outline: none;
    .balance {
      color: #005ff8;
    }
  }
}

.title {
  display: flex;
  justify-content: flex-end;
  gap: 48px;
  align-items: center;
  margin-bottom: 34px;
}

.balance {
  color: #122945;
  margin-right: 10px;
  white-space: nowrap;
  transition: all 0.3s ease-in-out;
}

.blockDays {
  display: flex;
}

.plus {
  fill: #005ff8;
  stroke: #005ff8;
}

.object > svg {
  color: red;
}

.balanceT {
  margin-left: -5px;
  margin-right: -3px;
}
