.filter {
  display: flex;
  gap: 4px;
}

.blockFilters {
  display: flex;
  gap: 32px;
  justify-content: space-between;
  margin-right: 3px;
  margin-bottom: 10px;
}

.filterTitle {
  font-family: 'SF Pro Display', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 148%;
  color: #5e7793;
  opacity: 0.87;
}

.filterSearch{
  display: flex;
  gap: 12px;
}

.search {
  font-family: 'SF Pro Display', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #5e7793;
  white-space: nowrap;
}

.searchL{
  margin-top: -10px;
}