.filter {
  display: flex;
  gap: 4px;
  cursor: pointer;
}

.filter:hover {
  opacity: 0.87;
  .filterTitle {
    color: #002cfb;
  }
}

.blockFilters {
  display: flex;
  gap: 32px;
  justify-content: space-between;
  margin-right: 3px;
}

.filterSearch {
  display: flex;
  gap: 12px;
  position: relative;
}

.searchL {
  margin-top: -10px;
  position: absolute;
  top: 50%;
  left: 18px;
}

.search {
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  border-radius: 48px;
  border: none;
  background-color: inherit;
  padding: 10px 0 10px 46px;

  &::placeholder {
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #5e7793;
  }

  &:hover {
    color: #002cfb;
  }
  &:focus {
    padding: 10px 0 10px 46px;
    background: #ffffff;
    outline: 1px solid #002cfb;

    .searchL {
      left: 0px;
    }
  }
}

.dropdownToggle {
  outline: none;
  background: inherit;
  font-family: 'SF Pro Display', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 148%;
  color: #5e7793;
  opacity: 0.87;
  cursor: pointer;

  display: flex;
  gap: 4px;

  &:hover {
    transition: all 0.3s ease-in-out;
    color: #002cfb;
    opacity: 0.87;
  }
}

.hover {
  display: flex;
  gap: 5px;
}

.hover:hover path {
  fill: #002cfb;
  transition: all 0.3s ease-in-out;
  display: flex;
  gap: 5px;
}
